.detailPrestaBody{
    display: block;

    text-align: center;
    margin-top: 50px;

    margin-left: 350px;
    margin-right: 350px;
}

.nav-item{
    font-size: 115%; /*Modification de la taille des autres onglets*/
    color:black;
}

.nav-link_ic{
    /*color : rgb(92, 9, 9);*/ /*Onglet de connexion et d'inscription en blanc*/
    color: white;
    font-size: 115%; /*Modification de la taille de l'onglet de connexion et d'inscription*/
}

.nav-link_ic:hover{
    /*color : rgb(92, 9, 9);*/ /*Onglet de connexion et d'inscription en blanc*/
    color: white;
    font-size: 130%; /*Modification de la taille de l'onglet de connexion et d'inscription*/
}


.nav-link{
    font-size: 115%; /*Modification de la taille des autres onglets*/
    color:rgb(188, 187, 187);
}

.nav-link:hover{
    color : yellow !important; /*Onglet devient jaune lorsque le curseur pointe l'onglet*/
    font-size: 150%; /*Modification de la taille des autres onglet lorsque le curseur pointe sur l'onglet */
}

.navbar-brand{
    font-size:200%;  /*Modification de la taille du nom mis sur la navbarre */
    color:white;
}

.navbar-brand{
    font-size:200%;  /*Modification de la taille du nom mis sur la navbarre */
    color:white;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fcfcfc;
    color:black;
}
/*footer{
    display : table-row;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(175, 155, 155);
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}*/

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color:aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}