/*.position_base{
    margin: 0 auto;
    position: relative;
}

#conteneur img {
    position:absolute;
    height:300px;
    width:300px;
    left:10%;
    top: 50px;
}*/

body{
    background: #868686;
}
#container{
    width:100%;
    margin:0 auto;
    margin-top:10%;
}

#container2{
    width:100%;
    margin:0 auto;
    margin-top:5%;
    margin-bottom: 5%;
}

/* Bordered form */
form {
    width:40%;
    margin: auto;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 10px;
}

#container2 h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*margin: 0 auto;*/
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #868686;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #000000;
    border: 1px solid #000000;
}