{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %} {#Nom de l'onglet du site#}

{% block section %} <div class = "titre">TerraBat</div> {% endblock %}
{% block body %}

<link href="css/accueil.css" rel="stylesheet">

{% for unePres in listePresentations %}

    {% if unePres.id == 1 %}
        
        <div class="descriPres">

            <h1>{{ unePres.titre }}</h1>

            <p>{{ unePres.description }}</p>

            <img src={{ unePres.getLienImg() }}>

        

        {% if app.user.email is defined and app.user.email == 'loreinthierry@gmail.com' %}
            <form action="{{ path('ModifPresent', {'id':unePres.id}) }}">
                <button type="submit">Modifier</button>
            </form>
        {% endif %}

        </div>

        <div class="localisationPres">

            <h1>Nous trouver :</h1>

            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" maginwidth="0" src="https://maps.google.com/maps?width=100%25&height=400&h1=en&q=54 Rue de Marzelles%2020+(My%20Business%20Name)&t=&z=14&ie=UTF8&iwloc=B&output=embed">

        </div>


    {% endif %}

{% endfor %}

{% endblock %}